@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --footer-height: 100px;
    --section-header-height: 30px;
    --lfg-outer-container-padding: 25px;
    --timezones: 25;
    --lfg-column-gap: 6.5em;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(38, 38, 38);
    font-family: 'Share Tech Mono', monospace;
    color: #F0B7B1;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - var(--footer-height));
}

.scrollableContainer {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    overflow-y: scroll;
    scrollbar-width: none; /* for firefox */
}

.scrollableContainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

section .teamsSidebar,
section .soloContainer {
    flex: 0 1 auto;
}

section .lfgContainer {
    flex: 1 1 auto;
}

main section header {
    flex: 0 0 auto;
    width: 100%;
    height: var(--section-header-height);
    text-align: center;
    font-size: 1.25rem;
    padding: 10px 0 0 0;
}

.infoIcon {
    display: inline;
}

.infoPanel {
    visibility: hidden;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 1rem;
    z-index: 10;
    max-width: 25%;
    background: rgb(0,0,0);
    background: linear-gradient(352deg, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 100%);
    position: relative;
    left: 50%;
}

.infoIcon:hover .infoPanel {
    visibility: visible;
}

.teamsSidebar {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}

.teamsInnerContainer {
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* container for a single team */
.teamContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    border: 1px solid #666;
    padding: 10px 10px 20px 10px;
}

.teamContainer header {
    text-align: center;
    font-size: 1.0rem;
}


.lfgContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('world.jpg');
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-blend-mode: normal;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    overflow: hidden;
}

.clippedContainer {
    overflow: hidden;
}

.lfgInnerContainer {
    width: calc(100% - (var(--lfg-outer-container-padding) * 2));
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--lfg-outer-container-padding);
    position: relative;
    container: lfgInnerContainer / size;
}

.timeZoneLines,
.unassignedMembers {
    position: absolute;
    top: var(--lfg-outer-container-padding);
    left: var(--lfg-outer-container-padding);
    display: flex;
    flex-direction: row;
    width: calc(100% - (var(--lfg-outer-container-padding) * 2));
    height: calc(100% - (var(--lfg-outer-container-padding) * 2));
}

.lfgMemberColumn {
    width: calc(100% / var(--timezones));
    min-width: calc(100% / var(--timezones));
    max-width: calc(100% / var(--timezones));
    display: flex;
    flex-direction: column;
    gap: var(--lfg-column-gap);
}

.timeZoneLines {
    border: 1px dashed rgba(255, 255, 255, 0.1);
}

.timeZoneBar {
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
    width: calc(100% / var(--timezones));
    height: 100%;
}

.soloContainer {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #222;
}

.soloInnerContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.teamMemberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: auto;
}

.teamMemberImage {
    width: 100%;
    min-width: 24px;
    border-radius: 50%;
    border: 2px solid #333;
}

.teamMemberImage:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 8px 8px rgba(255,255,255,0.1);
    transform: scale(1.25, 1.25);
    transition: all 0.1s linear;
}

.teamsSidebar .teamMemberImage,
.soloContainer .teamMemberImage,
.codeJamManagers .teamMemberImage
{
    max-width: 40px;
}

.teamMemberName {
    text-overflow: clip;
    overflow: hidden;
    cursor: default;
}

.teamContainer, .soloContainer, .codeJamManagers {
    font-size: 0.8rem;
}

@container lfgInnerContainer (width <= 600px)  {
    .lfgMemberColumn {
        font-size: 0.5rem;
    }
    .teamMemberName {
        text-overflow: ellipsis;
        max-width: 40px;
    }
}

@container lfgInnerContainer (width > 600px) and (width <= 700px) {
    .lfgMemberColumn {
        font-size: 0.5rem;
    }
}

@container lfgInnerContainer (width > 700px) and (width <= 900px) {
    .lfgMemberColumn {
        font-size: 0.6rem;
    }
}
@container lfgInnerContainer (width > 900px) and (width <= 1100px) {
    .lfgMemberColumn {
        font-size: 0.7rem;
    }
}

@container lfgInnerContainer (width > 1100px) and (width <= 1300px) {
    .lfgMemberColumn {
        font-size: 0.8rem;
    }
}

@container lfgInnerContainer (width > 1300px) and (width <= 1500px) {
    .lfgMemberColumn {
        font-size: 0.9rem;
    }
}

@container lfgInnerContainer (width > 1500px) and (width <= 1700px) {
    .lfgMemberColumn {
        font-size: 1.0rem;
    }
}

@container lfgInnerContainer (width > 1700px) {
    .lfgMemberColumn {
        font-size: 1.25rem;
    }
}

.codeJamManagers {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: var(--footer-height);
    background-color: #181818;
    padding-left: 30px;
    align-items: center;
    border-top: 1px solid #666;
}

#memberInfoPopup {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    visibility: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(352deg, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 100%);
    color: #F0B7B1;
    width: auto;
    padding: 1rem;
    font-size: small;
    font-weight: lighter;
    border-radius: 10px;
    border: 1px solid #999;
    text-overflow: ellipsis;
}

#memberInfoPopupHeader {
    font-size: 1.25rem;
}

#memberInfoPopup summary {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

#memberInfoPopup section header {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
}

#memberLanguages {
    display: flex;
    flex-direction: column;
}

#memberLanguages ul {
    padding: 0 1rem;
    margin: 0.25rem;
}

